In [52]:
import pandas as pd
import numpy as np
import os

# 반복문

In [101]:
csv_files = os.listdir('../../Data_list/v2.0/연령별_인구현황/')
display(csv_files)

file_path = [os.path.join('../../Data_list/v2.0/연령별_인구현황/', f) for f in csv_files]
display(file_path)

['202504_202504_법정동별 연령별인구현황_월간.csv',
 '202501_202503_법정동별 연령별인구현황_월간.csv',
 '202410_202412_법정동별 연령별인구현황_월간.csv',
 '202407_202409_법정동별 연령별인구현황_월간.csv',
 '202404_202406_법정동별 연령별인구현황_월간.csv',
 '202401_202403_법정동별 연령별인구현황_월간.csv',
 '202310_202312_법정동별 연령별인구현황_월간.csv']

['../../Data_list/v2.0/연령별_인구현황/202504_202504_법정동별 연령별인구현황_월간.csv',
 '../../Data_list/v2.0/연령별_인구현황/202501_202503_법정동별 연령별인구현황_월간.csv',
 '../../Data_list/v2.0/연령별_인구현황/202410_202412_법정동별 연령별인구현황_월간.csv',
 '../../Data_list/v2.0/연령별_인구현황/202407_202409_법정동별 연령별인구현황_월간.csv',
 '../../Data_list/v2.0/연령별_인구현황/202404_202406_법정동별 연령별인구현황_월간.csv',
 '../../Data_list/v2.0/연령별_인구현황/202401_202403_법정동별 연령별인구현황_월간.csv',
 '../../Data_list/v2.0/연령별_인구현황/202310_202312_법정동별 연령별인구현황_월간.csv']

In [135]:
# 결합을 원하는 열 기재
input_msg = input("결합을 원하는 열의 일부를 입력하세요")
input_save = input("저장할 데이터명을 입력하세요")

# 원하는 열 통합 반복문
for n in range(0, 7):
    # df1 ~ 7까지 생성
    globals()[f'df{n+1}'] = pd.read_csv(file_path[n], encoding='cp949')
    
    # 법정구역 열 생성
    globals()[f'df_city{n+1}'] = globals()[f'df{n+1}'][['법정구역']]
    
    # 원하는 열 파일마다 생성
    globals()[f'df_col{n+1}'] = globals()[f'df{n+1}'][globals()[f'df{n+1}'].columns
                                                      [globals()[f'df{n+1}'].columns.str.
                                                       contains(input_msg)]]

In [146]:
# 다른 데이터프레임을 결합할 기준 데이터 생성
globals()[f'df{input_save}'] = pd.merge(df2, df1, on='법정구역', how='left')
globals()[f'df{input_save}'].head(2)

,법정구역,2025년01월_계_총인구수,2025년01월_계_연령구간인구수,2025년01월_계_0세,2025년01월_계_1세,2025년01월_계_2세,2025년01월_계_3세,2025년01월_계_4세,2025년01월_계_5세,2025년01월_계_6세,...,2025년04월_계_3세,2025년04월_계_4세,2025년04월_계_5세,2025년04월_계_6세,2025년04월_계_7세,2025년04월_계_8세,2025년04월_계_9세,2025년04월_계_10세,2025년04월_계_11세,2025년04월_계_12세
0,부산광역시 (2600000000),"3,263,891","261,256","12,832","12,902","14,239","15,186","15,537","17,597","19,413",...,"15,068","15,437","16,987","18,842","21,085","23,465","26,462","26,685","25,849","27,788"
1,부산광역시 중구 (2611000000),"37,469","1,141",50,45,62,52,47,63,74,...,49,47,63,64,92,111,112,137,137,136

In [147]:
# 기준 열에 결합
for n in range(2, 7):
    globals()[f'df{input_save}'] = pd.merge(
                                    globals()[f'df{n+1}'], 
                                    globals()[f'df{input_msg}'], 
                                    on='법정구역', 
                                    how='left'
    )

In [154]:
# 통합된 열 확인
globals()[f'df{input_save}'].head(2)

,법정구역,2023년10월_계_총인구수_x,2023년10월_계_연령구간인구수_x,2023년10월_계_0세_x,2023년10월_계_1세_x,2023년10월_계_2세_x,2023년10월_계_3세_x,2023년10월_계_4세_x,2023년10월_계_5세_x,2023년10월_계_6세_x,...,2025년04월_계_3세,2025년04월_계_4세,2025년04월_계_5세,2025년04월_계_6세,2025년04월_계_7세,2025년04월_계_8세,2025년04월_계_9세,2025년04월_계_10세,2025년04월_계_11세,2025년04월_계_12세
0,부산광역시 (2600000000),"3,298,213","279,088","12,673","14,413","15,132","16,222","17,758","19,938","22,152",...,"15,068","15,437","16,987","18,842","21,085","23,465","26,462","26,685","25,849","27,788"
1,부산광역시 중구 (2611000000),"38,831","1,361",57,73,60,66,61,82,109,...,49,47,63,64,92,111,112,137,137,136